*{
    margin:0;
    padding:0;
}
.heading{
    width:90%;
    height:200px;
    background-color: rgb(41, 38, 38);
    color:rgb(148, 148, 109);
    font-size:40px;
    text-align: center;
    padding:20px;
    margin: auto;
}

.main{
    width:80%;
    height:600px;
    margin: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.play-area{
    display: flex;
    justify-content: space-between;
    width:350px;
    padding:100px;

}

.weapons{
    display: flex;
    flex-direction: column;
    height:200px;
    justify-content: space-between;
}

.icons{
    display: flex;
}